
// 基础字体变量
$smallest-size: 22px;
$base-size: 26px;
$small-size: 24px;
$bigger-size: 28px;
$large-size: 32px;
$extra-large-size: 34px;
$largest-size: 36px;


// 基础颜色变量
$body-bg: #f5f6f7;
$block-bg: #fff;
//蓝色字
$blue-color: #1e92ec;
//深灰色
$deep-gray-color: #5c6266;
//浅灰色
$gray-color: #999;
